/*
#banner {
  color: #F3B455;
  background-color: gray;
  font-family: Courier;
}

#leftColumn {
  width: 200px;
}
#bodyColumn {
	margin-right: 100px;
}
#contentBox {
	text-align: center;
}
#outerTable {
}
#outerTable td {
	text-align: center;
}
#contentTable td {
	text-align: center;
}
*/